<%- include('./partials/header') %>
<main>
    <article>
        <section class="hero">
            <div class="container">
                <div class="content">
                    <h4 class="text-title btext">Take yourself</h4>
                    <h3 class="h3">Adventure Ideas</h3>
                </div>
                <% postAdd.forEach(function(post){ %>
                    <%  var titlePost = post.title; %>
                    <%  var postId = post.id; %>
                    <%  var image = post.image; %>
                    <%  var rating = post.rating; %>
                    <%  var interest = post.status; %>
                    <%  var description = post.description.substring(0,25); %>
                    <div class="gird">
                    <div class='container'>
                            
                          <form method="PATCH" id="post-form">
                             <div class="grid-list">
                                <figure class="img-holder">
                                    <img src="<%= image %>" alt="<%= titlePost %>" class="img-cover">
                                </figure>
                                <div class="text-rating">
                                    <h3 class="h4"><%= titlePost %></h3>
                                    <div class="rating">
                                        <input type="radio" name="rating" value="1">
                                        <input type="radio" name="rating" value="2">
                                        <input type="radio" name="rating" value="3">
                                        <input type="radio" name="rating" value="4">
                                        <input type="radio" name="rating" value="5">
                                        <!-- <span class="fa fa-star checked"></span> -->
                                        <!-- <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span> -->
                                    </div>
                                </div>
                                <input type="hidden" name="hidden" id="hidden" value="<%= postId %>">
                                <div class="flex-text">
                                    <p class="p"><%= description %>....</p><a href="/post/<%= postId %>" name="/posts/titlePost" class="p redText">read more</a></p>
                                </div>
                                <button type="submit" class="btn-primary" id="button"><%= interest %></button>
                             </div> 
                            </form>
                           <% }) %>

                    </div>
                </div>
                <div class="flex-content">
                    <div class="flex-1">
                        <h3 class="h3-flex">Making adventure tours,<br> activities affordable.</h3>
                        <div class="after"></div>
                        <p class="p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor cursus tortor tempus ac. Purus amet risus amet sagittis. Enim nulla a sapien lectus tellus mauris integer ut. Magna viverra sit rhoncus convallis id. Aenean egestas turpis aenean feugiat pharetra sed sed morbi faucibus.
                        </p>
                    </div>
                    <div class="flex-2">
                        <figure class="img-holder">
                            <img src="/public/images/Rectangle 9.png" alt="" class="img-cover">
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonial">
            <div class="container">
                <div class="content">
                    <h4 class="text-title btext">Client Testimonials</h4>
                    <h3 class="h3">Adventure Ideas</h3>
                    <div class="client-testimonial">
                        <figure>
                            <img src="/public/images/Ellipse 1.png" alt="client" srcset="">
                        </figure>
                        <div class="text-client">
                            <p class="p text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sodales faucibus eleifend ullamcorper in in neque sapien turpis est. Vulputate justo, orci ut tortor tincidunt morbi justo, aliquet dui. Integer blandit praesent odio leo. Nisl non mauris ipsum semper gravida .</p>
                            <h4 class="h4">Adriana Mctominay</h4>
                            <p class="p">Tourist</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>


<script src="/public/javascript/post-status.js" type="application/javascript"></script>

<%- include('./partials/footer') %>